<div>
	<app-cv></app-cv>


	<h1>{{ title }}</h1>
	<input type="text" [(ngModel)]="name" placeholder="Name">
	<input type="number" [(ngModel)]="nbr" placeholder="Number">
	<input type="number" [(ngModel)]="amount" placeholder="Amount">
	<button (click)="add()">Add</button>

	<p></p>

	<table class="table">
		<thead>
			<th>Name</th>
			<th>Nbr</th>
			<th>Amount</th>
		</thead>
		<tr *ngFor="let name of names">
			<td>{{ name.name }}</td>
			<td>{{ name.nbr }}</td>
			<td>{{ name.amount }}</td>
		</tr>
	</table>


</div>




<!-- <h1>{{ title }}</h1>
<p>
  <button (click)="onclick()">Click me!</button>
  <label>{{ sometext }}</label>
</p>
<button (click)="toggle()">Toggle</button>
<div *ngIf="displayName">
  <ul>
    <li *ngFor="let name of names">
      The name is {{ name.name }}
      <span [ngSwitch]="name.tag">
        <span *ngSwitchCase=1>{{ fv }}</span>
        <span *ngSwitchCase=2>{{ fnv }}</span>
        <span *ngSwitchCase=3>{{ mv }}</span>
        <span *ngSwitchCase=4>{{ mnv }}</span>
      </span>
      <span> {{ name.abool ? "yes" : "no" }}</span>
      <span *ngIf="name.abool">True</span>
      <span *ngIf="!name.abool">False</span>
    </li>
  </ul>


  <input type="text" [(ngModel)]="aMessage"><label>{{ aMessage }}</label>

</div> -->